.idea

venv/*

envfiles.tasks.py.swp

.venv

data

envfiles/qms/.dev.env
envfiles/qms/.prd.env
envfiles/qms/.test.env


envfiles/quality_rule/.dev.env
envfiles/quality_rule/.prd.env
envfiles/quality_rule/.test.env

credentials

envfiles

.env


__pypackages__

.vscode

config.yml
info.log

dist


__pycache__
